{% extends "base.html" %}
{% block content %}
  <style>
    .search-bar-container {
      text-align: right;
    /* Aligns the search form to the left */
    }

    .img-container img {
      display: block;
    /* Makes img a block element to apply auto margins */
      margin: 0 auto;
    /* Centers the image */
    }
  </style>
  <div class="container-fluid" style="background-color: darkolivegreen; padding-top: 1%;">
    <div class="px-lg-5">
    <!-- Search Form Section -->
      <div class="row">
        <div class="col-lg-12 search-bar-container">
          <form method="GET" action="{% url 'search' %}" class="mb-3">
            {% csrf_token %} {{ form }}
            <button type="submit" class="btn btn-success">Search</button>
          </form>
        </div>
      </div>
    <!-- Results Section -->
      <div class="row justify-content-center">
        {% for result in searchResult %}
          <div class="col-xl-6 col-lg-8 col-md-10 mb-4">
            <div class="bg-white rounded shadow-sm">
              <div class="img-container">
                <img src="https://i.pinimg.com/originals/de/37/bc/de37bc053591009ac708dd70a0a96687.jpg" style="width: 100%; height: 80%;" alt="Tree Image" class="img-fluid">
              </div>
              <div class="p-4">
                <strong>Tree ID:</strong> {{ result.tree_id }} <br>
                <strong>Species Name:</strong> {{ result.species_name }} <br>
                <strong>Common Name:</strong> {{ result.common_name }} <br>
                <strong>Family Name:</strong> {{ result.family_name }} <br>
                <strong>Leaf Fall:</strong> {{ result.leaf_fall }} <br>
                <strong>Longitude:</strong> {{ result.longitude }} <br>
                <strong>Latitude:</strong> {{ result.latitude }} <br>
                <br>
                <div class="comment-section">
                  {% load comments %}
                  {% get_comment_count for result as comment_count %}
                  <strong>Comments ({{ comment_count }})</strong>
                  <button class="btn btn-info btn-sm" type="button" data-toggle="collapse"
                          data-target="#collapseComments{{ forloop.counter }}" aria-expanded="false"
                          aria-controls="collapseComments{{ forloop.counter }}">
                    Show Comments
                  </button>
                  <div class="collapse" id="collapseComments{{ forloop.counter }}">
                    {% if comment_count %}
                      {% render_comment_list for result %}
                    {% endif %}
                    <div class="comment-form">
                      <h5>Add a comment</h5>
                      {% render_comment_form for result %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="py-5 text-center"><a href="#" class="btn btn-dark px-5 py-3 text-uppercase">Top</a></div>
    </div>
  </div>
{% endblock %}